.footer {
  padding: 10rem 0 7rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond(tab-land) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @include respond(tab-port) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @include respond(phone) {
    flex-direction: column;
  }

  &__content {
    @include respond(phone) {
      width: 80%;
      margin-bottom: 5rem;
      margin-right: 2rem;
      text-align: center;
    }

    h2 {
      font-size: 1.8rem;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;

      @include respond(phone) {
        font-size: 1.4rem;
      }
    }
    p {
      margin-top: 1rem;
      font-size: 1.4rem;
    }
  }

  &__info {
    @include respond(phone) {
      width: 80%;
      text-align: center;
    }
    h2 {
      font-weight: 300;

      @include respond(phone) {
        font-size: 1.4rem;
      }
      span {
        @include respond(phone) {
          display: block;
          margin-bottom: 1rem;
        }
        margin: 0 10px;
        i {
          color: $primary-textColor;
          margin-right: 5px;
        }
      }
    }
  }

  &__social {
    margin-top: 2rem;
    padding: 0 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    color: $light-blue;
    @include respond(phone) {
      justify-content: space-between;
      margin-top: 4rem;
    }
    a {
      color: $light-blue;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;

      &:hover {
        color: $primary-textColor;
        transform: scale(1.15) translateY(-3px);
        -webkit-transform: scale(1.15) translateY(-3px);
        -moz-transform: scale(1.15) translateY(-3px);
        -ms-transform: scale(1.15) translateY(-3px);
        -o-transform: scale(1.15) translateY(-3px);
      }
    }
  }
}
